/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 1440px;
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  color: #212121;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 16px;
  margin-right: 8px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  margin: 20px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.image-descript {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.image-descript > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

p,
h3 {
  font-size: 15px;
}

img {
  display: block;
  height: 180px;
  width: 360px;
  object-fit: cover;
}

.img-blok {
  width: 360px;
  border: #808080 solid 1px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

/* =======LOADER======= */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(29, 124, 188, 0.3) inset;
}

.loader:after {
  box-shadow: 0 4px 0 #4e75ff inset;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .loader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .loader {
  display: none;
}

/* ======/LOADER======= */
